.footer_alligns {
  
  
  .footer_section_below {
    background-color: #647ACB;
    text-align: center;
    height: 100%;
    @media screen and (max-width: 600px) {
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
    }
  }}