.bgcolor{

  background-color: #F5F5F5;

}



.request-tutor{

    
width: 2002px;
height: 4233px;
top: 5044px;
left: 4581px;
gap: 0px;
opacity: 0px;


}

.rheader{

    font-family: Inria Serif;
    font-size: 75px;
    font-weight: 450;
    line-height: 153.47px;
    text-align: center;
    
}

.ftext{
   
font-family: Inria Serif;
font-size: 33px;
font-weight: 400;
line-height: 47.96px;
text-align: center;

}

.atext{

font-family: Inria Serif;
font-size: 44px;
font-weight: 700;
line-height: 76.74px;
text-align: left;
width: 546px;
height: 50px;
top: 1000px;
left: 4701px;
gap: 0px;
opacity: 0px;
line-height: 160px;

}

.aatext{


 font-family: Inria Serif;
font-size: 25px;
font-weight: 700;
line-height: 47.96px;
text-align: left;
color: #00000080;


}
 
 .ftf{

 
  width: 1700px;
  height: 65px;
    top: 5600px;
   
 left: 4000px;
   right: 300px;
   gap: 0px;
 border-radius: 25px 25px 25px 25px;
 border: 4px 4px 4px 4px;
  opacity: 15px;
 backdrop-filter: blur(4px)

  




  


 
 
 }


 .btext{

  font-family: Inria Serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 57.55px;
  text-align: left;
  
 
  
 }

 .subtn{

  font-family: Inria Serif;
  font-size: 500px;
  font-weight: 700;
  line-height: 76.74px;
  text-align: center;

 
 
  

  
 


 }

 

 



 
